n8n/workflows/workflow1-weekly-report.json
{
  "name": "Weekly Report Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 22 * * 0"
            }
          ]
        }
      },
      "name": "Schedule Trigger - Every Sunday 10 PM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "id": "schedule-trigger-weekly"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.BACKEND_URL}}/api/v1/doubts/recent?limit=1000",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "headerAuth",
        "options": {}
      },
      "name": "HTTP - Get Recent Doubts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300],
      "id": "http-get-doubts",
      "credentials": {
        "headerAuth": {
          "id": "n8n-backend-auth",
          "name": "n8n-backend-auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract unique student IDs from doubts\nconst doubts = $input.all()[0].json.doubts || [];\n\n// Get unique user IDs\nconst uniqueUserIds = [...new Set(doubts.map(d => d.user_id))];\n\n// Return array of items, one per student\nreturn uniqueUserIds.map(id => ({\n  json: {\n    user_id: id,\n    // Optional: include student email if available from doubts\n    email: doubts.find(d => d.user_id === id)?.user_email || null,\n    name: doubts.find(d => d.user_id === id)?.user_name || 'Student'\n  }\n}));"
      },
      "name": "Code - Extract Unique Students",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300],
      "id": "code-extract-students"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.BACKEND_URL}}/api/v1/webhooks/n8n/generate-report",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "headerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{$json.user_id}}"
            }
          ]
        },
        "options": {}
      },
      "name": "HTTP - Generate Report (Per Student)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300],
      "id": "http-generate-report",
      "credentials": {
        "headerAuth": {
          "id": "n8n-backend-auth",
          "name": "n8n-backend-auth"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "doubtmap@notifications.com",
        "toEmail": "={{$json.email || 'student@example.com'}}",
        "subject": "Your Weekly DoubtMap Learning Report",
        "emailFormat": "html",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 30px; text-align: center; border-radius: 10px 10px 0 0; }\n    .content { background: #f9f9f9; padding: 30px; border-radius: 0 0 10px 10px; }\n    .button { display: inline-block; background: #667eea; color: white; padding: 12px 30px; text-decoration: none; border-radius: 5px; margin: 20px 0; }\n    .footer { text-align: center; margin-top: 20px; color: #666; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>🎯 Your Weekly Report is Ready!</h1>\n    </div>\n    <div class=\"content\">\n      <h2>Hi ={{$('Code - Extract Unique Students').item.json.name}}!</h2>\n      <p>Your weekly learning report has been generated. We analyzed all the doubts you asked this week and created personalized insights just for you.</p>\n      \n      <p><strong>What's inside:</strong></p>\n      <ul>\n        <li>📊 Topics you explored this week</li>\n        <li>💡 Your learning progress</li>\n        <li>🎓 Personalized recommendations</li>\n        <li>📈 Confidence trends</li>\n      </ul>\n      \n      <center>\n        <a href=\"={{$env.FRONTEND_URL}}/student/reports\" class=\"button\">View Your Report →</a>\n      </center>\n      \n      <p>Keep learning and asking great questions! 🚀</p>\n    </div>\n    <div class=\"footer\">\n      <p>~ The DoubtMap Team</p>\n      <p>You're receiving this because you asked doubts on DoubtMap this week.</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "name": "Send Email - Report Ready",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1050, 300],
      "id": "email-send-report"
    }
  ],
  "connections": {
    "Schedule Trigger - Every Sunday 10 PM": {
      "main": [
        [
          {
            "node": "HTTP - Get Recent Doubts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get Recent Doubts": {
      "main": [
        [
          {
            "node": "Code - Extract Unique Students",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Extract Unique Students": {
      "main": [
        [
          {
            "node": "HTTP - Generate Report (Per Student)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Generate Report (Per Student)": {
      "main": [
        [
          {
            "node": "Send Email - Report Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-17T00:00:00.000Z",
  "versionId": "1"
}
